<h1>Registrar Cliente</h1>

<form [formGroup]="clienteForm" (ngSubmit)="alertClienteAgregado()">
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="nombreCliente">Nombre del cliente</mat-label>
    <input matInput id="nombreCliente"   type="text" formControlName="nombreCliente"
    aria-describedby="Nombre del cliente"  placeholder="Nombre..." validar >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo cliente</mat-label>
    <mat-select formControlName="tipoCliente" id="tipoCliente" validar>
      <mat-option *ngFor="let type of typesClient" [value]="type.value">
        {{ type.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button id="btn_save_client"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Guardar
  </button>
</form>

<!-- {{
  clienteForm.value | json
}} -->
