<nav class="nav">
  <!--<a
    class="nav-link"
    id="linkCompra"
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Compra</a
  >-->
  <a
    class="nav-link"
    id="linkCrearCompra"
    routerLink="./crear"
    routerLinkActive="active"
    >Crear Compra</a
  >
  <a
    class="nav-link"
    id="linkBorrarCompra"
    routerLink="./borrar"
    routerLinkActive="active"
    >Borrar Compra</a
  >
  <a
    class="nav-link"
    id="linkListarCompra"
    routerLink="./listar"
    routerLinkActive="active"
    >listar Compra</a
  >
</nav>

<div class="m-5">

  <router-outlet></router-outlet>
  
</div>

