<nav class="nav">
    <!--<a
      class="nav-link"
      id="linkCliente"
      routerLink="./"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Cliente</a
    >-->
    <a
      class="nav-link"
      id="linkCrearCliente"
      routerLink="./crear"
      routerLinkActive="active"
      >Crear Cliente</a
    >
    <a
      class="nav-link"
      id="linkBorrarCliente"
      routerLink="./borrar"
      routerLinkActive="active"
      >Borrar Cliente</a
    >
    <a
      class="nav-link"
      id="linkListarCliente"
      routerLink="./listar"
      routerLinkActive="active"
      >listar Cliente</a
    >
  </nav>
  
  <div class="m-5">
  
    <router-outlet></router-outlet>
    
  </div>
  
  
