<h1>Registrar Compra</h1>

<form [formGroup]="compraForm" class="example-form" (ngSubmit)="alertCompraAgregada()">
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Precio Compra</mat-label>
    <input
      matInput
      type="number"
      placeholder="1000"
      id="precio"
      name="precio"
      formControlName="precio"
      aria-describedby="precioCompra"
      validar
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Id Cliente</mat-label>
    <input
      matInput
      type="number"
      placeholder="1000"
      id="idCliente"
      name="idCliente"
      formControlName="idCliente"
      aria-describedby="idCliente"
      validar
    />
  </mat-form-field>
  <button id="btn_save_buy"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Guardar
  </button>
</form>
