<div class="mb-2 d-flex justify-content-end">
  <a id="btn_create_client" mat-raised-button color="primary" routerLink="/cliente/crear/">Crear</a>
</div>
<div class="d-flex justify-content-center w-full">
  <table
    mat-table
    *ngIf="listaClientes.length > 0; else noRecords"
    [dataSource]="listaClientes"
    class="mat-elevation-z8 w-full"
  >
    <ng-container matColumnDef="idCliente">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre Cliente</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="tipoCliente">
      <th mat-header-cell *matHeaderCellDef>Tipo Cliente</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.tipoCliente }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaCliente">
      <th mat-header-cell *matHeaderCellDef>Fecha Cliente</th>
      <td mat-cell *matCellDef="let cliente">
        {{
          cliente.fechaCreacion
            | date: "EEE d, MMM yyyy":undefined:"es"
            | titlecase
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef>Borrar</th>
      <td mat-cell *matCellDef="let cliente">
        <button mat-mini-fab color="warn" (click)="confirmDelete(cliente.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-template #noRecords>
    <p class="text-left">No existen registros...</p>
  </ng-template>
</div>
